<!DOCTYPE html>
<head>
   <!-- Standard Meta -->
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <!-- Site Properties -->
   <title th:text="${title}"></title>
   <link rel="stylesheet" type="text/css" href='dist/components/reset.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/site.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/container.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/accordion.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/grid.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/header.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/image.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/form.min.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/form.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/menu.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/divider.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/dropdown.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/segment.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/button.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/list.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/icon.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/sidebar.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/label.css'>
   <link rel="stylesheet" type="text/css" href='dist/components/transition.css'>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="dist/components/accordion.min.js"></script>
   <script src="jquery-ui.js"></script>
   <script src="dist/components/visibility.js"></script>
   <script src="dist/components/sidebar.js"></script>
   <script src="dist/components/transition.js"></script>
   <script src="js.js"></script>
   <style type="text/css">
      .hidden.menu {
      display: none;
      }
      .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
      }
      .masthead .logo.item img {
      margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
      }
      .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
      }
      .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
      }
      .ui.vertical.stripe {
      padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
      font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
      margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
      clear: both;
      }
      .ui.vertical.stripe p {
      font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
      }
      .quote.stripe.segment {
      padding: 0em;
      }
      .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
      }
      .footer.segment {
      padding: 5em 0em;
      }
      .secondary.pointing.menu .toc.item {
      display: none;
      }
      .preload{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear;
        animation: spin 2s linear;
      }
       @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .isi{
       position: relative;
        -webkit-animation-name: animatebottom;
        -webkit-animation-duration: 1s;
        animation-name: animatebottom;
        animation-duration: 1s;
      }
      @-webkit-keyframes animatebottom {
        from { bottom:-100px; opacity:0 } 
        to { bottom:0px; opacity:1 }
      }
      
      @keyframes animatebottom { 
        from{ bottom:-100px; opacity:0 } 
        to{ bottom:0; opacity:1 }
      }

      @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
      display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
      display: none;
      }
      .secondary.pointing.menu .toc.item {
      display: block;
      }
      .masthead.segment {
      min-height: 350px;
      }
      .masthead h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
      }
      .masthead h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
      }
      }
      }
   </style>
</head>
<html>
   <body>
   <div class="ui vertical inverted sidebar menu">
       <a class="active item" href="/greetings?name=Pepega">Greetings</a>
       <a class="item" href="/mycv">CV</a>
   </div>
      <!-- Page Contents -->
      <div class="pusher">
      <div id = "wrapper" name="inverted" class="ui inverted vertical center aligned segment">
         <div class="ui" style="margin-bottom:0px;margin-top:-20px">
            <div class="ui large secondary blue inverted pointing menu">
               <a class="item">
                  <h1>Rizkhi PH</h1>
               </a>
               <a class="toc item">
               <i class="visible sidebar icon"></i>
               </a>
                <div class="right item">
                    <a class="item" href="/greeting?name=Pepega">Greetings</a>
                    <a class="active item">CV</a>
                </div>
            </div>
         </div>
         <!-- 1st column-->
         <div class="ui vertical stripe segment">
             <p th:text="${title}"></p>
         <button onclick=gantithemeStat() id="change-theme" class="ui green button">Ganti Tema</button>
            <div class="ui equal width stackable internally celled grid container">
               <div class="column">
                  <div class="three wide column">
                     <div class="ui inverted accordion">
                         <div class="title">
                            <i class="dropdown blue icon"></i>
                           <h3 class="ui header blue label">Activity</h3>
                          </div>
                          <div class="content">
                            <p class="transition hidden">
                            <li name="inverted" class="ui black inverted label">
                                   <h3>Lagi tidak ada kegiatan / gabut segabut2nya</h3>
                                </li>
                            </p>
                      </div>
                     </div>
                     <div class="ui inverted accordion">
                         <div class="title">
                            <i class="dropdown blue icon"></i>
                           <h3 class="ui header blue label">Experience</h3>
                          </div>
                          <div class="content">
                            <p class="transition hidden">
                            <li name="inverted" class="ui black inverted label">
                                   <h3>Pernah nyoba bikin bot tapi jelek</h3>
                                </li>
                            </p>
                      </div>
                     </div>
                     <div class="ui inverted accordion">
                         <div class="title">
                            <i class="dropdown blue icon"></i>
                           <h3 class="ui header blue label">Achievement</h3>
                          </div>
                          <div class="content">
                            <p class="transition hidden">
                            <li name="inverted" class="ui black inverted label">
                                   <h3>Top 6600 Osu Mania (pernah top 600 indonesia)</h3>
                                </li>
                            </p>
                      </div>
                     </div>
                     <p name="inverted" class="ui inverted black label">Age : 18<br>Job : Web Dev<br>Status : Single<br>Location : <br>Kemang Swatama<br>B 15<br>
                     <div class="two wide right floated column">
                        <img src="inigambar.jpg" class=" small image" style="border-radius:55px;" width=200 height=250>
                     </div>
                     <br>
                     <p id="quotes" class="ui header blue label">"Live your life, <br>dont so tryhard"</p>
                  </div>
                  <!-- 2nd column-->
               </div>
               <div class="column">
                  <div class="three wide column">
                     <h3 class="ui header blue label">Goals</h3>
                     <div class="left aligned column">
                        <li name="inverted" class="ui black inverted label">
                           <h3>-Become a real professional Web Dev</h3>
                        </li>
                        <li name="inverted" class="ui black inverted label">
                           <h3>-Get a very great GPA</h3>
                        </li>
                        <li name="inverted" class="ui black inverted label">
                           <h3>-Pass my OS and Basdead courses</h3>
                        </li>
                     </div>
                     
                     <div class="ui inverted accordion">
                         <div class="title">
                            <i class="dropdown blue red icon"></i>
                           <h3 class="ui header blue label">Project</h3>
                          </div>
                          <div class="content">
                            <p class="transition hidden">
                            <li name="inverted" class="ui black inverted label">
                                   <h3>-Discord Bot</h3>
                                </li>
                                <br>
                                <li name="inverted" class="ui black inverted label">
                                   <h3>-Web Dev</h3>
                                </li>
                            </p>
                      </div>
                     </div>
                        <!--<li name="inverted" class="ui black inverted label">
                           <h3>-Discord Bot</h3>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h3>-Web Dev</h3>
                        </li>
                     </div> -->
                     <h3 class="ui header blue label">Education</h3>
                     <div class="left aligned column">
                        <li name="inverted" class="ui black inverted label">
                           <h4>-SD PEMUDA BANGSA</h4>
                        </li>
                        <li name="inverted" class="ui black inverted label">
                           <h4>-SMP NEGERI 3 DEPOK</h4>
                        </li>
                        <li name="inverted" class="ui black inverted label">
                           <h4>-SMA NEGERI 3 DEPOK</h4>
                        </li>
                        <li name="inverted" class="ui black inverted label">
                           <h4>-FASILKOM UNIVERSITAS INDONESIA</h4>
                        </li>
                     </div>
                  </div>
               </div>
               <!-- 3rd column-->
               <div class="column">
                  <div class="three wide column">
                     <h3 class="ui header blue label">Bio</h3>
                     <div class="left aligned column">
                        <li name="inverted" class="ui black inverted label">
                           <h4>Rizkhi Pramudya Hastiputra is a Professional Web Developer. His hobby is playing game, especially a game called osu. Right now he is studying at Faculty of Computer Science University of Indonesia. He is always doing his exercise.</h4>
                        </li>
                     </div>
                     <h3 class="ui header blue label">Personality</h3>
                     <div class="left aligned column">
                        <li name="inverted" class="ui black inverted label">
                           <h3>Introverted</h3>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h3>Intuitive</h3>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h3>Feeling</h3>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h3>Judging</h3>
                        </li>
                        <br>
                     </div>
                     <h3 class="ui header blue label">Ability</h3>
                     <div class="left aligned column">
                        <li name="inverted" class="ui black inverted label">
                           <h4>-Web Dev Front End(HTML, CSS(Semantic UI Framework), JavaScript</h4>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h4>-Web Dev Back End(Python Django)</h4>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h4>-Python</h4>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h4>-Java</h4>
                        </li>
                        <br>
                        <li name="inverted" class="ui black inverted label">
                           <h4>-C++</h4>
                        </li>
                        <br>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
      </div>
   </body>
   </div>   
</html>